/.vs/pHash/v14/.suo
/Debug
/pHash.VC.db
/pHash.v11.suo
/pHash.sdf
/ConsoleApplication4/obj/Debug
/.vs/pHash/v14
/AudioTranscribe
/pHash-0.9.4/.vs/pHash/v14/.suo
/pHash-0.9.4/Backup
/pHash-0.9.4/Backup1
/pHash-0.9.4/Debug
/pHashTest/bin/Debug
/pHashTest/obj/Debug
/pHash.VC.VC.opendb
